[Unit]
Description=GeoIP database updater
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/geoipdbupdater
RemainAfterExit=false
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
